[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Ranking of Pages related to query using SVM Pairwise Ranking
[access "refs/*"]
	owner = group user/Nikhil Agrawal (nikhil741)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Nikhil Agrawal (nikhil741)
	label-Verified = -1..+1 group user/Nikhil Agrawal (nikhil741)
	push = group user/Nikhil Agrawal (nikhil741)
	read = group user/Nikhil Agrawal (nikhil741)
	rebase = group user/Nikhil Agrawal (nikhil741)
	removeReviewer = group user/Nikhil Agrawal (nikhil741)
	submit = group user/Nikhil Agrawal (nikhil741)
[access "refs/heads/*"]
	create = group user/Nikhil Agrawal (nikhil741)
	push = +force group user/Nikhil Agrawal (nikhil741)
	pushMerge = group user/Nikhil Agrawal (nikhil741)
	read = group user/Nikhil Agrawal (nikhil741)
[access "refs/tags/*"]
	push = group user/Nikhil Agrawal (nikhil741)
	push = +force group user/Nikhil Agrawal (nikhil741)
